<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./style_home.css" />
    <title>Athena '22</title>
  </head>

  <body>
    <div class="container-fluid p-5">
      <div class="head">
        <div class="headerobjectswrapper">
          <header>Athena</header>
        </div>

        <div class="subhead">
          ISTE TKMCE CHAPTER, Thursday June 23, 2022 - Three Pages
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-11 mx-auto">
            <div class="collumns row">
              <div class="collumn col-md-4">
                <div class="head">
                  <span class="headline hl3">FBI warns on scammers</span>
                  <p><span class="headline hl4">by Agent Owl</span></p>
                </div>
                <p>
                  <strong>Mech square: </strong> FBI warns on scammers using
                  cryptocurrency ATMs, QR codes to steal money.
                  <strong>Stay away from QR codes</strong>, stay safe. For
                  safety and guidelines visit our agent profile
                  <i
                    ><a
                      href="https://www.instagram.com/_athena22_/?hl=en"
                      style="color: black; text-decoration: none"
                      >_athena22_</a
                    ></i
                  >
                </p>
              </div>
              <div class="collumn col-md-4">
                <div class="head">
                  <span class="headline hl5"><q>Everyman for himself</q></span>
                  <p>
                    <span class="headline hl6"
                      ><button
                        onclick="window.location='../auth/google'"
                        class="btn btn-outline-secondary"
                      >
                        Register Now
                      </button></span
                    >
                  </p>
                </div>
                <p class="text-justify">
                  Your hunt begin at <strong>12:00pm</strong>. Agent is your
                  true guide, Follow his profile for leads.
                </p>
                <figure class="figure mx-auto d-block w-100">
                  <img class="media" src="./clue.gif" alt="" />
                  <figcaption class="figcaption">Find the clues.</figcaption>
                </figure>
              </div>

              <div class="collumn col-md-4">
                <div class="head">
                  <span class="headline hl3">Prizes for the winners</span>
                  <p><span class="headline hl4">Athena </span></p>
                </div>
                <p>Prizes worth <strong>4K</strong> for the winners</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
